<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/static/style.css" />
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  </head>
  <body>
    <h2>Student QR Code Generator</h2>

    <label>Student Name:</label>
    <input id="studentName" type="text" /><br /><br />

    <label>Student ID:</label>
    <input id="studentID" type="text" /><br /><br />

    <button onclick="generateQR()">Generate QR Code</button>

    <br /><br />
    <canvas id="qrCode"></canvas>

    <script>
      function generateQR() {
        const id = document.getElementById("idno").value;

        // Data to store in QR
        const studentData = JSON.stringify({
          name: name,
          id: id,
        });

        const qr = new QRious({
          element: document.getElementById("qrCode"),
          value: studentData,
          size: 250,
        });
      }
    </script>
  </body>
</html>
